@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    min-height: 100vh;
    background: rgb(9, 0, 34);
}
.wrapper{
    width: 440px;
    background: #fff;
    border-radius: 10px;
    padding: 30px 30px 38px;
}