body {
    background-color: rgb(24, 56, 161);
}

#background {
    width: 1000px;
    height: 900px;
    background-color: white;
    position: absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1%;
}

#game {
    position: absolute;
    left: 10px;

}

.form{
    position: absolute;
    left: 160px;
}

.clicker{
    position: absolute;
    left: 235px;
}

.password{
    position: absolute;
    left: 365px;
}
