body {
    background: #4A98F7;
}

.wrapper{
    width: 490px;
    padding: 30px 30px 38px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

